*{
  margin:0;
  font-family: 'Open Sans', sans-serif;
}
body{
  scroll-behavior: smooth;
  background-color: rgb(183, 182, 182);
}
.container{
  display:flex;
  background-color: aquamarine;
  width:auto;
  height:5rem;
  justify-content: center;
  align-items:center;
  font:bold 20px black sans-serif;
}

.form-container{
  display: flex;
  justify-content: center;
  height:48vh;
  font:normal 20px black sans-serif;
}
.card{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  width:60%;
  border: 2px;
  border-radius: 1rem;
  background-color: rgb(247, 244, 244);
}

h2{
  padding:0.5rem;
}

input{
  margin:3px;
}

.fields{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}
.second{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:80%;
  height:90%;
}